.maillist {
    flex: 1;
    overflow: scroll;
}

.maillist__settings {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
    padding-right: 10px;
}

.maillist__sections {
    display: flex;
}

.maillist__list {
    padding-bottom: 10%;
}
